UnityExProj/ProjectSettings/* filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/ProjectSettings/**/* filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/*.unity filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.unity filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/*.mat filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.mat filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/*.mask filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.mask filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/*.meta filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.meta filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/*.prefab filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.prefab filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/*.exr filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.exr filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/*.controller filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.controller filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/*.asset filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.asset filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/*.anim filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.anim filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/*.dll filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.dll filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/*.jar filter=lfs diff=lfs merge=lfs -text
UnityExProj/Assets/**/*.jar filter=lfs diff=lfs merge=lfs -text
UnityExProj/Assets/*.so filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.so filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/*.3dm filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.3dm filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/*.3ds filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.3ds filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/*.blend filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.blend filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/*.c4d filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.c4d filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/*.collada filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.collada filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/*.dae filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.dae filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/*.dxf filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.dxf filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/*.fbx filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.fbx filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/*.jas filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/*.jas filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.jas filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.lws filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.lxo filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.ma filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.max filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.mb filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.obj filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.ply filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.skp filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.stl filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.ztl filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.aif filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.aiff filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.it filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.mod filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.mp3 filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.ogg filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.s3m filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.wav filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.xm filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.otf filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.ttf filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.bmp filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.exr filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.gif filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.hdr filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.iff filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.jpeg filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.jpg filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.pict filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.png filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.psd filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.tga filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.tif filter=lfs diff=lfs merge=lfs -text lockable
UnityExProj/Assets/**/*.tiff filter=lfs diff=lfs merge=lfs -text lockable
